.nav {
    background-color:#181818;
    width: 9rem;
    height: 100vh;
    z-index: 999;
    position: fixed;
    
}
.navitems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 68vh;
}

.logo img{
    width: 100%;
    height: 15vh;
    position: relative;
    cursor: pointer;
}

.logo h3 {
    position: absolute;
    color: white;
    font-size: 14px;
    top: 12vh;
    left: 10px;
    opacity: .8;
}

.navlinks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 12rem;
    width: 100%;
}

.navlinks li {
    padding: 16px 0;
    border-bottom: 1px solid #8c8b8b;
    width: 100%;   
}

.navlinks li:first-child {
    border-top: 1px solid #8c8b8b;
}
.navlinks a {
    color: #ffffff99;
}

.navlinks a:hover {
    color: #ff3a3a;
    transition: .5s ease-in;
}

.socials {
    display: flex;
    justify-content: center;
    width: 100%;
}
.socials a {
    color: #ffffff99;
    margin: 0 10px;
}

.socials a:hover {
    color: #ed5a5a;
    transition: .3s ease;
}

.menu {
    color: white;
    font-size: 30px;
    display: none;
    z-index: 1000;
}

@media only screen and (max-width: 768px) {
    .nav {
        width: 100vw;
        margin-left: -900px;
        transition: .5s ease-out;
            height: 100vh;
        overflow: hidden;
    }

    .logo img {
        height: 26vh;
        object-fit: cover;
    }
    .logo h3 {
        display: none;
    }
    .navitems {
        height: 100vh;
    }
    .navlinks {
        width: 100vw;
    }

    .menu{
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
    }
     
    .socials {
        margin-bottom: 20px;
    }
    .activeNav {
        margin-left: 0 !important;
        transition: .3s ease-in-out;
    }
}
